

body {
  font-family: Arial, sans-serif;
  margin: 5%;
}

nav {
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 1.5em;
  color: #343a40; /* Set your desired text color */
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black /* Set your desired link color */
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #007bff; /* Set your desired button border color */
  border-radius: 4px;
  background-color: #007bff;
  color: #fff; /* Set your desired button text color */
  cursor: pointer;
}

.btn-dark {
  background-color: #343a40; /* Set your desired dark button background color */
  border-color: #343a40;
}

.btn:hover,
.btn-dark:hover {
  background-color: #0056b3; /* Set your desired button hover color */
  border-color: #0056b3;
}

.row_ne{
  padding: 5% 0%;
}

#top{
    padding: 2% 5% 5% 5%;
    background-color: #f0eeeb;
}
#image_sm{
    padding: 0% 8% 8% 8%;
}
#thrid{
  padding: 4% 8% 8% 8%; 
}
footer{
  padding: 4% 8% 8% 8%; 
}
  .hero_img{
    display: inline-flex;
    width: 45%;
    height: 100%;
  }
.img_inline{
    display: inline-flex;
    width: 12%;
}
footer{
  background-color: black;
  font-size: small;
}