body {
  font-family: Arial, sans-serif;
  margin: 5%;
}

.nav_head{
  background-color: #f0eeeb;
}
nav {
  padding: 2% 12%;
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 0;
  font-size: 1em;
  color: #343a40; 
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 2%;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black ;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid black; 
  background-color: black;
  color: #fff; 
  cursor: pointer;
}

.btn-dark {
  background-color: #343a40; 
  border-color: #343a40;
}

.btn:hover,
.btn-dark:hover {
  background-color: gray; 
  border-color: black;
}

@media (max-width: 768px) {
  .nav-links {
      display: none; 
  }

  .collapse-icon {
      display: block; 
      font-size: 1.5em;
      cursor: pointer;
  }

  .nav-links.show {
      display: flex;
      flex-direction: column;
  }
}

.row_ne{
  padding: 5% 0%;
}
.business{
  background-color: #f0eeeb;
  padding: 0% 12%;
  text-align: left;
  
}
.business .row{
  padding-top: 2%;
  padding-right: 0;
  padding-bottom: 5%;
  padding-left: 0;
}
.business_txt{
  display: block;
  padding-top: 5%;
}
.business_txt h1{
  font-size: 3rem;
  font-weight: bold;
}
.business_txt p{
  font-size: 1.3rem;
  padding-top: 2%;
}
.business_txt ul {
  list-style: none; 
  padding-left: 5%; 
}
.business ul{
  list-style: none; 
  padding: 2% 0; 
}
li {
  color: gray; 
  font-size: 1rem; 
  margin-bottom: 10px; 
}
.fa-circle-check {
  color: black; 
  margin-right: 5px; 
}

.hero_img{
  max-width: 100%; 
  height: auto; 
  display: inline-block; 
  margin: 0 auto;
}
#image_sm{
  padding: 2% 12%;
}
.img_inline{
  display: inline-flex;
  width: 12%;
  padding-right: 2rem;
}

#pricing{
  padding: 0% 12%;

}
#pricing .row{
  padding: 0% 8%;
  background-color: #f0eeeb;
  z-index: 2;

}
.pricing_txt{
  
  padding: 5%;
  
}
.pricing_txt h1{
  font-weight: bold;
}
.pricing_txt p{
  padding-top: 2%;
  font-size: 0.98rem;
}
.mobile {
  max-width: 900%; 
  height: auto;
  display: flex;
  position: relative;
  top: 0%;
  left: -115%;
  z-index: 1;
  
}
#Features{
  padding: 2% 12%;
}
.features_txt{
  display: block;
  text-align: right;
}
.feature_txt h1{
  padding-top: 10%;
  font-size: 2rem;
  font-weight: bold;
}
.feature_txt p{
  padding: 2% 0%;
  font-size: 1rem;
}
.img_feature{
  width: 100%;  
}
footer{
  padding: 2% 12%;
  background-color: black;
}
.foot_heading{
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}
footer p {
  color: gray;
  font-size: 1rem;
  text-align: left;
}
.foot_point{
  color: gray;
  text-decoration:none;
  font-size: 1rem;
  text-align: left;
  padding-left: 0;
}
